<div class="container-fluid">
<nav class="navbar navbar-light" style="background-color:#1b2838;">
  
    <div class="col-sm-12 col-md-6 col-lg-3">
      <a class="nav-link waves-light" mdbWavesEffect style="color: white;" routerLink="accueil"> Accueil <span class="sr-only">(current)</span></a>
    </div> 
  
    <div class="col-sm-12 col-md-6 col-lg-4">
      <a routerLink="salaries" class="nav-link waves-light" mdbWavesEffect style="color: white;" >Salariés </a>
    </div>
  
    <div class="col-sm-12 col-md-6 col-lg-4">
      <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
      Prêts et Réglements 
       </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" routerLink="pret/listp">liste prêts </a>
        <a class="dropdown-item" routerLink="reg/listeregl">liste réglements </a>
      </div>
    </div>

  
    <div class="col-sm-12 col-md-6 col-lg-1">
      <a class="nav-link" style="color: white;">
     <!-- <img src="https://i.pinimg.com/originals/0c/3b/3a/0c3b3adb1a7530892e55ef36d3be6cb8.png" alt="" class="img-fluid rounded-circle z-depth-0" width="10%" height="10%">  nom prenom  -->  
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16"  routerLink="/connect">
       <a type="button" routerLink="/connect"><path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" /></a>
      </svg > </a>
    </div>
    
  
</nav>
</div>

  
  